#admin-side-menu {
  position: fixed;
  top: 3rem;
  left: -200px;
  bottom: 0;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  &.is-active {
    transition: left 0.3s ease-in-out;
    left: 0;
  }

  @include desktop {
    left: 0;
  }
}

#admin-slideout-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.menu-list li ul {
  margin-top: 0;
  margin-bottom: 0;
}

.management-area {
  position: absolute;
  top: 4rem;
  @include desktop {
    left: 200px;
    right: 0;
  }
}

.flex-container {
  margin-left: 10px 25px;
}

.button-float {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.table_wrapper {
  overflow-x: auto;
}

.responsive_table {
    width: 100%;
    overflow-x: auto;
}
