html,body {
  font-family: $font-family-sans-serif;
}

#admin-side-menu {
  position: fixed;
  top: 3rem;
  left: -220px;
  bottom: 0;
  width: 220px;
  background-color: white;
  overflow-y: scroll;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  &.is-active {
    transition: left 0.3s ease-in-out;
    left: 0;
  }

  @include desktop {
    left: 0;
  }
}

#admin-slideout-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.menu-list li ul {
  margin-top: 0;
  margin-bottom: 0;
}

.management-area {
  position: absolute;
  top: 4rem;
  @include desktop {
    left: 220px;
    right: 0;
  }
}

.flex-container {
  margin-left: 10px 25px;
}

.button-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.button-round {
  background: $link;
  border-radius: 999em;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;

  span {
    position: absolute;
    left: 0;
    top: 25%;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
  }
}

.table_wrapper {
  overflow-x: auto;
}

.responsive_table {
    width: 100%;
    overflow-x: auto;
}

.remove_link_styles {
  text-decoration: none;
}

.profile {
  @include desktop {
    width:1080px;
    left:50%;

    float:left;
    position:relative;
    margin:50px 0px 50px 0px;
     margin-left:-540px;
    cursor:pointer;

    .imageHolder {
      float:left;
      width:30%;
      position:relative;
      left:5%;

      .profilePic {
        width:100%;
        float:left;
        border-radius: 50%;
        position:relative;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition:all 0.5s ease;
        -webkit-transition:all 0.5s ease;
        -webkit-box-shadow: 0px 0px 31px -1px   rgba(71,71,71,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(71,71,71,1);
        box-shadow: 0px 0px 31px -1px rgba(71,71,71,1);
      }
    }

    h1 {
      position:absolute;
      width:100%;
      padding:0px 0px 0px 32%;
      margin-top:-50px;
      margin-bottom:0px;
      font-size:5vw;
      letter-spacing:1vw;
      z-index:1;
      font-weight:400;
      text-transform:uppercase;
      pointer-events:none;
      transition:all .5s ease;
       -webkit-transition:all .5s ease;

      &:after {
        content:'';
        float:left;
        position:absolute;
        left:50%;
        bottom:-10vw;

        width:5px;
        height:10vw;
      }
    }

    &:hover h1 {
      transform: translateY(10vw);
    }

    &:hover .profilePic{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transform:scale(1.1);
      }
    &:hover .imageHolder:after{
      opacity:1;
      animation-play-state: running;

    }

    .infoHolder {
      width:60%;
      float:right;
      right:1%;
      position:absolute;
      overflow-x:hidden;

      h2 {
        letter-spacing:3px;
        margin-top:0px;
        float:left;
        width:100%;
        transform: translateX(102%);
         transition:all .5s ease;
        -webkit-transition:all .5s ease;
      }

      p {
        float:left;
        margin-top:0px;
        width:100%;
        transform: translateX(102%);
         transition:all .62s ease;
        -webkit-transition:all .62s ease;
      }
    }

    &:hover .infoHolder h2, &:hover .infoHolder p {
      transform: translateX(0%);
    }
  }
}
