html,body {
  font-family: $font-family-sans-serif;
}

#admin-side-menu {
  position: fixed;
  top: 3rem;
  left: -220px;
  bottom: 0;
  width: 220px;
  background-color: white;
  overflow-y: scroll;
  transition: left 0.3s ease-in-out;
  z-index: 1;
  &.is-active {
    transition: left 0.3s ease-in-out;
    left: 0;
  }

  @include desktop {
    left: 0;
  }
}

#admin-slideout-button {
  transition: 0.3s;
  &.is-active {
    transition: 0.3s;
    transform: rotateY(180deg);
  }
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.menu-list li ul {
  margin-top: 0;
  margin-bottom: 0;
}

.management-area {
  position: absolute;
  top: 4rem;
  @include desktop {
    left: 220px;
    right: 0;
  }
}

.flex-container {
  margin-left: 10px 25px;
}

.button-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.button-round {
  background: linear-gradient(to right, #f15a24 , #ff7900, #ff9c27);
  border-radius: 999em;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;

  span {
    position: absolute;
    left: 0;
    top: 25%;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #FFF;
  }
}

.table_wrapper {
  overflow-x: auto;
}

.responsive_table {
    width: 100%;
    overflow-x: auto;
}

.remove_link_styles {
  text-decoration: none;
}
